# Don't track content of these folders #
########################################
cache/
saves/
to-**/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
**.app
**.app/**
*.o
*.so

*.rpyc
*.rpymc
*.bak


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt
project.json


# Base DDLC assets #
####################
*.rpa
firstrun


# Generally ignored files #
###########################
.[Dd]S_Store
[Dd]esktop.ini


# Workplace Configs #
#####################
.vscode/


# Unlocked Lore Emails #
########################
email_backups


# Wintermute Replay File #
##########################
wm_replay


# Wintermute Build Info #
#########################
buildinfo.txt

# Wintermute Music Folder #
###########################
!music/
music/**
!music/Atom Free.mp3
!music/Fang Bare.mp3
!music/Humm Buzz.mp3
!music/Neww Dawn.mp3
!music/Star Line.mp3
